<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/save" method="POST">
        <h3>Create Product</h3>
        <label for="name">Name:</label>
        <input type="text" name ="name" placeholder="name" required>
        <br>
        <label for="description">Description:</label>
        <input type="text" name ="description" placeholder="description" required>
        <br>
        <label for="price">Price:</label>
        <input type="int" name ="price" placeholder="price" required>
        <br>
        <label for="quantity"></label>
        <label for="quantity">Quantity:</label>
        <input type="int" name ="quantity" placeholder="quantity" required>
        <br>
        <input type="submit" value="save">
    </form>
</body>
</html>